*{
    margin: 0;
    padding: 0;
}
/*HEAD-S*/
.heading-1{
    text-align: center;
    color: #1e1e1e;
    font-size: 20px;
}

/*HEAD-E*/
/*BODY-S*/
.div-style-1{
    background-color: #252526;
    border-radius: 10px;
    margin-bottom: 10px;
}
.heading-2{
    text-align: center;
    color: #ffffff;
    font-size: 25px;
}
.pera-1{
    color: #ffffff;
    font-size: 15px;
    text-align: center;
}
.top-text-margin{
    margin-top: 10px;
    margin-bottom: 5px;
}
.bottom-text-margin{
    margin-top: 5px;
    margin-bottom: 10px;
}
.margin-top{
    margin-top: 50px;
}
/*BODY-E*/
/*FOOTER-S*/
.foter-div{
    background-color: black;
}
.heading-foter{
    color: white;
    font-size: 10px;
    text-align: center;
}
/*FOOTER-E*/

@media only screen and (min-width: 320px){


}

@media only screen and (min-width: 360px){


}

@media only screen and (min-width: 375px){


}

@media only screen and (min-width: 411px){


}

@media only screen and (min-width: 414px){


}

@media only screen and (min-width: 540px){


}

@media only screen and (min-width: 768px){
    .heading-1{
        font-size: 30px;
    }
    .heading-2{
        font-size: 50px;
    }
    .pera-1{
        font-size: 30px;
    }

}

@media only screen and (min-width: 1024px){
    .margin-left{
        margin-left: 10px;
    }
    .pera-1{
        font-size: 20px;
    }

}

@media only screen and (min-width: 1025px){
    .margin-left{
        margin-left: 10px;
    }
    .pera-1{
        font-size: 30px;
    }
}