*{
    margin: 0;
    padding: 0;
}
/*HEAD-S*/
.heading-1{
    text-align: center;
    color: #1e1e1e;
    font-size: 20px;
    font-family: 'Uchen', serif;
}

/*HEAD-E*/
/*BODY-S*/
.div-style-1{
    background-color: #252526;
    border-radius: 10px;
    margin-bottom: 10px;
}
.heading-2{
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
}
.pera-1{
    font-family: 'Bree Serif', serif;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
}
.top-text-margin{
    margin-top: 10px;
    margin-bottom: 5px;
}
.bottom-text-margin{
    margin-top: 5px;
    margin-bottom: 10px;
}
.margin-top{
    margin-top: 50px;
}
.search-bar-div{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.search-input{
    width: 70%;
    margin-right: 0px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 2px solid #252526;
    color: #252526;
    outline: 0px;
    padding-left: 20px;
    font-family: 'Bree Serif', serif;
}
.search-btn{
    width: 29%;
    background-color: white;
    margin-left: 0px !important;
    color: #252526;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border: 2px solid #252526;
    outline: 0px;
    margin-top: -4px !important;
    margin-left: -4px !important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 0.3s;
    font-family: 'Bree Serif', serif;
}
.search-btn:hover{
    background-color: #27AE60;
}
.form-control{
    width: 100%;
    border: 2px solid #252526;
    color: #252526;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.form-control:focus{
    outline: none;
}
/*BODY-E*/
/*FOOTER-S*/
.foter-div{
    background-color: black;
}
.heading-foter{
    color: white;
    font-size: 10px;
    text-align: center;
}
/*FOOTER-E*/

@media only screen and (min-width: 320px){


}

@media only screen and (min-width: 360px){


}

@media only screen and (min-width: 375px){


}

@media only screen and (min-width: 411px){


}

@media only screen and (min-width: 414px){


}

@media only screen and (min-width: 540px){


}

@media only screen and (min-width: 768px){
    .heading-1{
        font-size: 30px;
    }
    .heading-2{
        font-size: 50px;
    }
    .pera-1{
        font-size: 30px;
    }

}

@media only screen and (min-width: 1024px){
    .margin-left{
        margin-left: 10px;
    }
    .pera-1{
        font-size: 20px;
    }

}

@media only screen and (min-width: 1025px){
    .margin-left{
        margin-left: 10px;
    }
    .pera-1{
        font-size: 30px;
    }
}